.btn {
    margin-top: 200px;
    margin-left: 100px;
    padding: 10px;
    background-color: rgb(219, 103, 103);
    color: white;
    border: 1px solid rgb(219, 103, 103);
    border-radius: 5px;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    width: 200px;
    border: 1px solid darkgrey;
}

.tooltip-part {
    padding: 5px 10px;
    font-size: 16px;
}

.tooltip-part:nth-child(1) {
    border-bottom: 1px solid darkgrey;
    font-size: 20px;
    font-weight: 600;
    background-color: lightgray;
}